.main{
            width:1100px;
            background-color: rgb(230, 229, 229);
        }
        
        .row1{
            width: 200px;
            
        }
        .row2{
            width:600px;
           
        }
